In [6]:
import pickle
import gc
import pandas as pd

In [2]:
# ids = ["royal-vortex-636", "valiant-grass-637", "wandering-rain-638", "vivid-brook-639", "misunderstood-waterfall-640"]
ids = ["royal-vortex-636", "valiant-grass-637"]
dfs = []
for id in ids:
    _df = pickle.load(open(f"../output/lgbm/{id}/preds_clicks.pkl", "rb"))
    _df = _df.iloc[:10]
    dfs.append(_df)

In [4]:
df = dfs[0]
for _df in dfs[1:]:
    df["score"] += _df["score"]
df["score"] = df["score"] / len(ids)

    session      aid     score    type
0  14549453    12845 -0.302246  clicks
1  13665381  1428615 -0.571777  clicks
2  13393318  1271277 -0.162720  clicks
3  13176302   461211 -0.681152  clicks
4  13941197   179472 -0.700195  clicks
5  13955118   784983 -0.626953  clicks
6  13344200   747492 -0.661133  clicks
7  13776479   690512 -0.565430  clicks
8  13359005  1556703 -0.528320  clicks
9  14483053   461211 -0.767090  clicks

In [8]:
pd.concat(dfs, axis=1)

    session      aid     score    type   session      aid     score    type
0  14549453    12845 -0.302246  clicks  14549453    12845 -0.327148  clicks
1  13665381  1428615 -0.571777  clicks  13665381  1428615 -0.557129  clicks
2  13393318  1271277 -0.162720  clicks  13393318  1271277 -0.134766  clicks
3  13176302   461211 -0.681152  clicks  13176302   461211 -0.641602  clicks
4  13941197   179472 -0.700195  clicks  13941197   179472 -0.691406  clicks
5  13955118   784983 -0.626953  clicks  13955118   784983 -0.617188  clicks
6  13344200   747492 -0.661133  clicks  13344200   747492 -0.644531  clicks
7  13776479   690512 -0.565430  clicks  13776479   690512 -0.541504  clicks
8  13359005  1556703 -0.528320  clicks  13359005  1556703 -0.511719  clicks
9  14483053   461211 -0.767090  clicks  14483053   461211 -0.754883  clicks

In [3]:
ids = ["royal-vortex-636", "valiant-grass-637", "wandering-rain-638", "vivid-brook-639", "misunderstood-waterfall-640"]
id = ids[0]

In [10]:
df0 = pickle.load(open(f"../output/lgbm/{ids[0]}/preds_clicks.pkl", "rb"))
df1 = pickle.load(open(f"../output/lgbm/{ids[1]}/preds_clicks.pkl", "rb"))

In [5]:
_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 801795150 entries, 0 to 235024
Data columns (total 4 columns):
 #   Column   Dtype
---  ------   -----
 0   session  int32
 1   aid      int32
 2   score    float16
 3   type     object
dtypes: float16(1), int32(2), object(1)
memory usage: 19.4+ GB

In [6]:
_df.isnull().sum()

session    0
aid        0
score      0
type       0
dtype: int64

In [7]:
_df.head()

    session      aid     score    type
0  14549453    12845 -0.302246  clicks
1  13665381  1428615 -0.571777  clicks
2  13393318  1271277 -0.162720  clicks
3  13176302   461211 -0.681152  clicks
4  13941197   179472 -0.700195  clicks

In [9]:
_df["aid"].max()

1855602